name: Build GUI executables
on:
  push:
    tags:
      - 'sw*'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            artifact_os: linux
          - os: windows-latest
            artifact_os: windows
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r requirements.txt
          python -m pip install pyinstaller
        shell: bash

      - name: Build (Linux)
        if: runner.os == 'Linux'
        run: |
          python -m PyInstaller --noconfirm --clean --windowed --onefile --name botany-guide-gui --add-data "gui:gui" gui/gui.py
          cd dist
          zip -9 botany-guide-gui_linux_${{ github.ref_name }}.zip botany-guide-gui
        shell: bash

      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: |
          python -m PyInstaller --noconfirm --clean --windowed --onefile --name botany-guide-gui --add-data "gui;gui" gui/gui.py
          Compress-Archive -Path dist\botany-guide-gui.exe -DestinationPath dist\botany-guide-gui_windows_${{ github.ref_name }}.zip
        shell: pwsh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: botany-guide-gui-${{ github.ref_name }}-${{ matrix.artifact_os }}
          path: ${{github.workspace}}/dist/*.zip
          retention-days: 1

  release:
    if: github.ref_type == 'tag'
    needs: build
    uses: Ludovic-Lesur/workflows/.github/workflows/generate-release.yml@master
